body {
  font-family: sans-serif;
  /* background-image: url(background.webp); */
}

.container {
  position: absolute;
  top: 150px;
  left: 40%;
  /* display: none; */
}
form {
  position: fixed;
}

.container_h1 {
  text-align: center;
}

.container_input {
  color: #000;
  font-size: 20px;
  width: 300px;
  height: 35px;
  padding-left: 2.7rem;
  /* opacity: 0.2; */
  border: none;
  margin: 1rem 0 0 0;
  /* z-index: 1; */
  border-radius: 6px;
  border-bottom: 3px solid;
}
.container_img {
  display: flex;
  width: 30px;
  height: 30px;
  margin-top: -2.2rem;
  opacity: 1;
}
.login_btn {
  position: fixed;
  left: 43%;
  top: 380px;
  width: 220px;
  height: 35px;
  border-radius: 25px;
  border: none;
  background-color: rgb(11, 100, 100);
  color: #fff;
  font-weight: bold;
}
.container_p {
  position: fixed;
  left: 43%;
  top: 410px;
}
.container_a {
  color: rgb(3, 56, 56);
}
.container_name {
  display: grid;
}
.container_h2 {
  text-align: center;
  margin-left: 6rem;
}

.signin_btn {
  position: absolute;
  left: 20%;
  top: 260px;
  width: 220px;
  height: 35px;
  border-radius: 25px;
  border: none;
  background-color: rgb(23, 28, 164);
  color: #fff;
  font-weight: bold;
}

.container_sign_up {
  position: relative;
  left: 48%;
  top: 300px;
  display: flex;
  margin-left: 3rem;
}

.sign_u {
  width: 30px;
  height: 30px;
}
.google {
  margin-left: -1rem;
}
.facebook {
  margin-left: 1rem;
}
